<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Welcome!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">      
		<link href="{{url_for('static',filename='bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet">		
		<link href="{{url_for('static',filename='themes/css/bootstrappage.css')}}" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="{{url_for('static',filename='themes/css/main.css')}}" rel="stylesheet"/>
		<link href="{{url_for('static',filename='themes/css/flexslider.css')}}" rel="stylesheet"/>

		<!-- scripts -->
		<script src="{{url_for('static',filename='themes/js/jquery-1.7.2.min.js')}}"></script>
		<script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>				
		<script src="{{url_for('static',filename='themes/js/superfish.js')}}"></script>	
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="eg. T-sirt">
					</form>
				</div>

				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">	
							<li><a href="/account">My Account</a></li>
							<li><a href="/cart/{{ session['user'] }}">Your Cart</a></li>
							<li><a href="/checkout/{{session['user']}}">Checkout</a></li>
							{% if 'user' in session %}
							<li><a href="/sell">Sell</a></li>
							<li><a href="/logout">Logout</a></li>
							<li><p>Hello {{ session['user'] }}</p></li>
							{% else %}
							<li><a href="/login">Login</a></li>
							{% endif %}
						</ul>
					</div>
				</div>

			</div>
		</div>

		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="index.html" class="logo pull-left"><img src="{{url_for('static',filename='themes/images/Volusion-Master-Logo.png')}}" class="site_logo" alt=""></a>

					<nav id="menu" class="pull-right">
						<ul>
							<li><a>Women</a>					
								<ul>
									<li><a href="/category/1">Top wear</a></li>									
									<li><a href="/category/2">Bottom wear</a></li>
									<li><a href="/category/3">Foot wear</a></li>									
									<li><a href="/category/4">Inner wear</a></li>									
									<li><a href="/category/5">Grooming</a></li>									
									<li><a href="/category/6">Accessories</a></li>
								</ul>
							</li>
							<li><a>Men</a>
								<ul>
									<li><a href="/category/7">Top wear</a></li>									
									<li><a href="/category/8">Bottom wear</a></li>
									<li><a href="/category/9">Foot wear</a></li>									
									<li><a href="/category/10">Grooming</a></li>									
									<li><a href="/category/11">Accessories</a></li>
								</ul>
							</li>
							<li><a>Electronics</a>
								<ul>
									<li><a href="/category/12">Mobiles</a></li>									
									<li><a href="/category/13">Laptops & PCs</a></li>
									<li><a href="/category/14">Televisions</a></li>									
									<li><a href="/category/15">Air Conditioners</a></li>
									<li><a href="/category/16">Others</a></li>
								</ul>
							</li>
							<li><a>Home & Furniture</a>
								<ul>
									<li><a href="/category/17">Kitchen</a></li>									
									<li><a href="/category/18">Furniture</a></li>
									<li><a href="/category/19">Decor</a></li>									
									<li><a href="/category/20">Others</a></li>
								</ul>
							</li>
							<li><a>Sports, Books & More</a>
								<ul>									
									<li><a href="category/21">Sports</a></li>
									<li><a href="category/22">Books</a></li>
									<li><a href="category/23">Others</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</section>

			<section  class="homepage-slider" id="home-slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="{{url_for('static',filename='themes/images/carousel/slide-01.jpg')}}" alt="" />
							<div class="intro">
								<h1>Women Collection 2018</h1>
								<p><span>New Season</span></p>
								<p><span>Shop Now</span></p>
							</div>
						</li>
						<li>
							<img src="{{url_for('static',filename='themes/images/carousel/slide-03.jpg')}}" alt="" />
							<div class="intro">
								<h1>Mid season sale</h1>
								<p><span>Up to 50% Off</span></p>
								<p><span>On selected items online and in stores</span></p>
							</div>
						</li>
					</ul>
				</div>
			</section>

			<section class="header_text">
				We stand for top quality products. Our genuine products are delivered to your doorstep with no shipping cost. 
				<br/>Step right in for a New overwhelming shopping experience.
			</section>

			<section class="main-content">
				<div class="row">
					<div class="span12">													
						<div class="row">
							<div class="span12">

								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">All <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#allProducts" data-slide="prev"></a><a class="right button" href="#allProducts" data-slide="next"></a>
									</span>
								</h4>
								<div id="allProducts" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">
												{% for i in range(4) %}
												{% if i < size %}
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="/product_detail/{{ products[i].id }}"><img src="static/img/{{ products[i].imageName }}" alt="NOO : (" /></a></p>
														<a href="/product_detail/{{ products[i].id }}" class="title">{{products[i].name}}</a><br/>
														<a href="/category/{{products[i].category.name}}" class="category">{{ products[i].category.name }}</a>
														<p class="price">₹{{ products[i].price }}</p>
													</div>
												</li>
												{% endif %}
												{% endfor %}
											</ul>
										</div>
										{% for j in range(4,size,4) %}
										<div class="item">
											<ul class="thumbnails">
												{% for i in range(j,j+4) %}
												{% if i<size %}
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="/product_detail/{{ products[i].id }}"><img src="static/img/{{ products[i].imageName }}" alt="NOO : (" /></a></p>
														<a href="/product_detail/{{ products[i].id }}" class="title">{{products[i].name}}</a><br/>
														<a href="/category/{{products[i].category.name}}" class="category">{{ products[i].category.name }}</a>
														<p class="price">{{ products[i].price }}</p>
													</div>
												</li>
												{% endif %}
												{% endfor %}
											</ul>
										</div>
										{% endfor %}
									</div>
								</div>

								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">	
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/ladies/2.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Quis nostrud exerci tation</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$32.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/ladies/3.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Know exactly turned</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$14.20</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/ladies/4.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">You think fast</a><br/>
														<a href="products.html" class="category">World once</a>
														<p class="price">$31.45</p>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/ladies/5.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Know exactly</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$22.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/ladies/6.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
														<a href="products.html" class="category">Commodo consequat</a>
														<p class="price">$40.25</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/ladies/7.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">You think water</a><br/>
														<a href="products.html" class="category">World once</a>
														<p class="price">$10.45</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/ladies/8.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Quis nostrud exerci</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$35.50</p>
													</div>
												</li>

											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-2" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/cloth/bootstrap-women-ware2.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
														<a href="products.html" class="category">Commodo consequat</a>
														<p class="price">$25.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/cloth/bootstrap-women-ware1.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Quis nostrud exerci tation</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$17.55</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/cloth/bootstrap-women-ware6.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Know exactly turned</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$25.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/cloth/bootstrap-women-ware5.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">You think fast</a><br/>
														<a href="products.html" class="category">World once</a>
														<p class="price">$25.60</p>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/cloth/bootstrap-women-ware4.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Know exactly</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$45.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/cloth/bootstrap-women-ware3.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
														<a href="products.html" class="category">Commodo consequat</a>
														<p class="price">$33.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/cloth/bootstrap-women-ware2.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">You think water</a><br/>
														<a href="products.html" class="category">World once</a>
														<p class="price">$45.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{{url_for('static',filename='themes/images/cloth/bootstrap-women-ware1.jpg')}}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Quis nostrud exerci</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$25.20</p>
													</div>
												</li>																																	
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>

						<div class="row feature_box">						
							<div class="span4">
								<div class="service">
									<div class="responsive">	
										<img src="{{url_for('static',filename='themes/images/feature_img_2.png')}}" alt="" />
										<h4>MODERN <strong>DESIGN</strong></h4>
										<p>We serve you with the latest fashion and best quality products</p>									
									</div>
								</div>
							</div>
							<div class="span4">	
								<div class="service">
									<div class="customize">			
										<img src="{{url_for('static',filename='themes/images/feature_img_1.png')}}" alt="" />
										<h4>FREE <strong>SHIPPING</strong></h4>
										<p>Get products delivered to your doorstep with no overhead charges and shipping cost</p>
									</div>
								</div>
							</div>
							<div class="span4">
								<div class="service">
									<div class="support">	
										<img src="{{url_for('static',filename='themes/images/feature_img_3.png')}}" alt="" />
										<h4>24/7 LIVE <strong>SUPPORT</strong></h4>
										<p>Contact us with any query and we will reach out to you in no time</p>
									</div>
								</div>
							</div>	
						</div>		
					</div>				
				</div>
			</section>

			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="/">Homepage</a></li>  
							<li><a href="/contact">Contact Us</a></li>
							<li><a href="/cart/{{ session['user'] }}">Your Cart</a></li>
							{% if 'user' in session %}
							<li><a href="/sell">Sell</a></li>
							<li><a href="/logout">Logout</a></li>
							{% else %}
							<li><a href="/login">Login</a></li>
							{% endif %}
						</ul>
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="/account">My Account</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="#">Wish List</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="{{url_for('static',filename='themes/images/Volusion-Master-Logo.png')}}" class="site_logo" alt=""></p>
						<p>A simple minimalistic shopping webapp made by the combined efforts of<br> <strong>Tanuj Garg</strong> <br><strong>Mayank Musaddi</strong></p>
						<br/>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2013 All right reserved.</span>
			</section>
		</div>
		<script src="{{url_for('static',filename='themes/js/common.js')}}"></script>
		<script src="{{url_for('static',filename='themes/js/jquery.flexslider-min.js')}}"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>