<!doctype html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
</head>
<body>
	<div class="container">
		<h1 class="text-center">Sign in</h1>
		<form action="/login" method="POST">
			<div class="jumbotron">
				<div class="form-group">
					<label for="email">Email Address</label>
					<input type="email" class="form-control" id="email" placeholder="Enter Email-id">
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" id="password" placeholder="Enter password">
				</div>
				<input type="submit" class="btn btn-info" value="Log in"><br><br>
			</div>
			<input type="button" class="btn btn-primary btn-block" value="Create a new account" onclick="window.location.href='/signup'">
		</form>
	</div>
</body>
</html>