
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ product.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		
		<!-- bootstrap -->
		<link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">      
		<link href="{{url_for('static',filename='bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet">		
		<link href="{{url_for('static',filename='themes/css/bootstrappage.css')}}" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="{{url_for('static',filename='themes/css/main.css')}}" rel="stylesheet"/>
		<link href="{{url_for('static',filename='themes/css/jquery.fancybox.css')}}" rel="stylesheet"/>
				
		<!-- scripts -->
		<script src="{{url_for('static',filename='themes/js/jquery-1.7.2.min.js')}}"></script>
		<script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>				
		<script src="{{url_for('static',filename='themes/js/superfish.js')}}"></script>	
		<script src="{{url_for('static',filename='themes/js/jquery.fancybox.js')}}"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" action="/search">
						<input type="text" class="input-block-level search-query" Placeholder="eg. T-shirt" name="search">
					</form>
				</div>

				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">	
							<li><a href="/">Homepage</a></li>
							{% if 'user' in session %}
							<li><a href="/cart/{{ session['user'] }}">Your Cart</a></li>
							<li><a href="/checkout/{{session['user']}}">Checkout</a></li>
							<li><a href="/sell">Sell</a></li>
							<li><a href="/logout">Logout</a></li>
							<li><p>Hello {{ session['user'] }}</p></li>
							{% else %}
							<li><a href="/login">Login</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="index.html" class="logo pull-left"><img src="{{url_for('static',filename='themes/images/Volusion-Master-Logo.png')}}" class="site_logo" alt=""></a>

					<nav id="menu" class="pull-right">
						<ul>
							<li><a>Women</a>					
								<ul>
									<li><a href="/category/1">Top wear</a></li>									
									<li><a href="/category/2">Bottom wear</a></li>
									<li><a href="/category/3">Foot wear</a></li>									
									<li><a href="/category/4">Inner wear</a></li>									
									<li><a href="/category/5">Grooming</a></li>									
									<li><a href="/category/6">Accessories</a></li>
								</ul>
							</li>
							<li><a>Men</a>
								<ul>
									<li><a href="/category/7">Top wear</a></li>									
									<li><a href="/category/8">Bottom wear</a></li>
									<li><a href="/category/9">Foot wear</a></li>									
									<li><a href="/category/10">Grooming</a></li>									
									<li><a href="/category/11">Accessories</a></li>
								</ul>
							</li>
							<li><a>Electronics</a>
								<ul>
									<li><a href="/category/12">Mobiles</a></li>									
									<li><a href="/category/13">Laptops & PCs</a></li>
									<li><a href="/category/14">Televisions</a></li>									
									<li><a href="/category/15">Air Conditioners</a></li>
									<li><a href="/category/16">Others</a></li>
								</ul>
							</li>
							<li><a>Home & Furniture</a>
								<ul>
									<li><a href="/category/17">Kitchen</a></li>									
									<li><a href="/category/18">Furniture</a></li>
									<li><a href="/category/19">Decor</a></li>									
									<li><a href="/category/20">Others</a></li>
								</ul>
							</li>
							<li><a>Sports, Books & More</a>
								<ul>									
									<li><a href="category/21">Sports</a></li>
									<li><a href="category/22">Books</a></li>
									<li><a href="category/23">Others</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</section>

			<section class="header_text sub">
			<!-- <img class="pageBanner" src="{{url_for('static',filename='themes/images/site-ss15-page-banner-feb-15-final.jpg')}}" alt="New products" > -->
			</section>

			<section class="main-content">				
				<div class="row">						
					<div class="span9">
						<div class="row">
							<div class="span4">

								<a href="{{url_for('static',filename='img/'+product.imageName)}}" class="thumbnail" data-fancybox-group="group1" title="{{product.name}}"><img alt="{{ product.imageName }}" src="{{url_for('static',filename='img/'+product.imageName)}}" style="height:25em;"></a>

							</div>
							<div class="span5">
								<h4><span>PRODUCT DETAILS</span></h4>
								<address>
									<strong>Name:</strong> <span>{{ product.name }}</span><br>
									<strong>Product Code:</strong> <span>Product {{ product.id }}</span><br>
									<strong>Rating:</strong> <span>0</span><br>
									{% if product.quantity == 0 %}
									<strong>Availability:</strong> <span>Out Of Stock</span><br>
									{% else %}
									<strong>Availability:</strong> <span>{{product.quantity}} Pieces left</span><br>
									{% endif %}
								</address>									
								<h4><strong>Price: ₹{{ product.price}}</strong></h4>
							</div>
							<div class="span5">
								<form action="/product_detail/{{ product.id }}" method="POST" class="form-inline">
									<label class="checkbox">
										<input type="checkbox" value=""> Complimentary Gift Wrapping
									</label>
									<br/>
									<label class="checkbox">
									  <input type="checkbox" value=""> Be sure to include why it's great
									</label>
									<p>&nbsp;</p>
									<input type="hidden" name="product_id" id="product_id" value="{{ product.id }}">
									<label>Qty:</label>
									<input type="number" name= "product_quantity" class="span1" value="1">
									<input class="btn btn-inverse" type="submit" value="Add to cart">
									{% if error %}
									<p><div>
										<p style="color:red;line-height: 0.6"> {{error}} </p>
									</div></p>
									{% endif %}
								</form>
							</div>							
						</div>
						<br>
						<div class="row">
							<div class="span9">
								<ul class="nav nav-tabs" id="myTab">
									<li class="active"><a href="#home">Description</a></li>
								</ul>							 
								<div class="tab-content">
									<div class="tab-pane active" id="home">{{product.description}}</div>
								</div>							
							</div>

							<div class="span9">	
								<br>
								<h4 class="title">
									<span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
									{% if size > 3 %}
									<span class="pull-right">
										<a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
									</span>
									{% endif %}
								</h4>
								<div id="myCarousel-1" class="carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails listing-products">
												{% for i in range(3) %}
												{% if i < size %}
												{% if similarProducts[i].id != product.id %}
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>												
														<a href="/product_detail/{{ similarProducts[i].id }}"><img alt="" src="{{url_for('static',filename='img/'+similarProducts[i].imageName)}}"></a><br/>
														<a href="/product_detail/{{ similarProducts[i].id }}" class="title">{{ similarProducts[i].name }}</a><br/>
														<a href="#" class="category">{{ similarProducts[i].category.name }}</a>
														<p class="price">₹{{ similarProducts[i].price }}</p>
													</div>
												</li>
												{% endif %}
												{% endif %}
												{% endfor %}
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails listing-products">
												{% for i in range(3,6) %}
												{% if i < size %}
												{% if similarProducts[i].id != product.id %}
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>												
														<a href="/product_detail/{{ similarProducts[i].id }}"><img alt="" src="{{url_for('static',filename='img/'+similarProducts[i].imageName)}}"></a><br/>
														<a href="/product_detail/{{ similarProducts[i].id }}" class="title">{{ similarProducts[i].name }}</a><br/>
														<a href="#" class="category">{{ similarProducts[i].category.name }}</a>
														<p class="price">₹{{ similarProducts[i].price }}</p>
													</div>
												</li>
												{% endif %}
												{% endif %}
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>			
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="/">Homepage</a></li>  
							{% if 'user' in session %}
							<li><a href="/cart/{{ session['user'] }}">Your Cart</a></li>
							<li><a href="/sell">Sell</a></li>
							<li><a href="/logout">Logout</a></li>
							{% else %}
							<li><a href="/login">Login</a></li>
							{% endif %}
						</ul>
					</div>
					<div class="span4">
					</div>
					<div class="span5">
						<p class="logo"><img src="{{url_for('static',filename='themes/images/Volusion-Master-Logo.png')}}" class="site_logo" alt=""></p>
						<p>A simple minimalistic shopping webapp made by the combined efforts of<br> <strong>STanuj Garg</strong> <br><strong>Mayank Musaddi</strong></p>
						<br/>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2018 All right reserved.</span>
			</section>
		</div>
		<script src="{{url_for('static',filename='themes/js/common.js')}}"></script>
		<script>
			$(function () {
				$('#myTab a:first').tab('show');
				$('#myTab a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
			})
			$(document).ready(function() {
				$('.thumbnail').fancybox({
					openEffect  : 'none',
					closeEffect : 'none'
				});
				
				$('#myCarousel-2').carousel({
                    interval: 2500
                });								
			});
		</script>
    </body>
</html>