<!doctype html>
<html>

<h2 style = "text-align: center;">{{ message }}</h2>
<body link="blue">

<fieldset>
<legend>Seller Details</legend>
	<table border = 1 cellspacing=5 width=50% height=50px bgcolor="#ffff9f">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Email</th>
		<th>Mobile</th>
		<th>Businessname</th>
		<th>Address</th>
	</tr>

	{% for row in rows if row["id"] %}
	<tr>
		<td>{{row["id"]}}</td>
		<td>{{row["name"]}}</td>
		<td>{{row["email"]}}</td>
		<td>{{row["mobile"]}}</td>
		<td>{{row["businessname"]}}</td>
		<td>{{row["shopaddress"]}}</td>
	</tr>
	{% else %}
	<h1> No user found! :( </h1>
	{% endfor %}
	</table>
</fieldset>

<br><a href = "/">Go back to home page</a>
</body>

</html>