<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Sell</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">      
		<link href="{{url_for('static',filename='bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet">
		
		<link href="{{url_for('static',filename='themes/css/bootstrappage.css')}}" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="{{url_for('static',filename='themes/css/flexslider.css')}}" rel="stylesheet"/>
		<link href="{{url_for('static',filename='themes/css/main.css')}}" rel="stylesheet"/>

		<!-- scripts -->
		<script src="{{url_for('static',filename='themes/js/jquery-1.7.2.min.js')}}"></script>
		<script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>				
		<script src="{{url_for('static',filename='themes/js/superfish.js')}}"></script>	
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

	</head>
    <body>
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" action="/search">
						<input type="text" class="input-block-level search-query" Placeholder="eg. T-shirt" name="search">
					</form>
				</div>

				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">	
							<li><a href="/">Homepage</a></li>
							{% if 'user' in session %}
							<li><a href="/cart/{{ session['user'] }}">Your Cart</a></li>
							<li><a href="/sell">Sell</a></li>
							<li><a href="/logout">Logout</a></li>
							<li><p>Hello {{ session['user'] }}</p></li>
							{% else %}
							<li><a href="/login">Login</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="/" class="logo pull-left"><img src="{{url_for('static',filename='themes/images/Volusion-Master-Logo.png')}}" class="site_logo" alt=""></a>

					<nav id="menu" class="pull-right">
						<ul>
							<li><a>Women</a>					
								<ul>
									<li><a href="/category/1">Top wear</a></li>									
									<li><a href="/category/2">Bottom wear</a></li>
									<li><a href="/category/3">Foot wear</a></li>									
									<li><a href="/category/4">Inner wear</a></li>									
									<li><a href="/category/5">Grooming</a></li>									
									<li><a href="/category/6">Accessories</a></li>
								</ul>
							</li>
							<li><a>Men</a>
								<ul>
									<li><a href="/category/7">Top wear</a></li>									
									<li><a href="/category/8">Bottom wear</a></li>
									<li><a href="/category/9">Foot wear</a></li>									
									<li><a href="/category/10">Grooming</a></li>									
									<li><a href="/category/11">Accessories</a></li>
								</ul>
							</li>
							<li><a>Electronics</a>
								<ul>
									<li><a href="/category/12">Mobiles</a></li>									
									<li><a href="/category/13">Laptops & PCs</a></li>
									<li><a href="/category/14">Televisions</a></li>									
									<li><a href="/category/15">Air Conditioners</a></li>
									<li><a href="/category/16">Others</a></li>
								</ul>
							</li>
							<li><a>Home & Furniture</a>
								<ul>
									<li><a href="/category/17">Kitchen</a></li>									
									<li><a href="/category/18">Furniture</a></li>
									<li><a href="/category/19">Decor</a></li>									
									<li><a href="/category/20">Others</a></li>
								</ul>
							</li>
							<li><a>Sports, Books & More</a>
								<ul>									
									<li><a href="category/21">Sports</a></li>
									<li><a href="category/22">Books</a></li>
									<li><a href="category/23">Others</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</section>

			<section class="header_text sub">
			<img class="pageBanner" src="{{url_for('static',filename='themes/images/pageBanner.png')}}" alt="New products" >
				<h4><span>Fill your info</span></h4>
			</section>			
			<section class="main-content">				
				<div class="row">
					<div class="span7">					
						<h4 class="title"><span class="text"><strong>Sell</strong> Products</span></h4>
					
						<form action="/sell" method="POST" class="form-stacked">
							<fieldset>
								<div class="control-group">
									<label class="control-label">Businessname</label>
									<div class="controls">
										<input type="text" name="businessname" placeholder="Choose your businessname" class="input-xlarge">
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">Shop Address</label>
									<div class="controls">
										<input type="text" name="shopaddress" placeholder="Enter your shop address" class="input-xlarge">
									</div>
								</div>

								{% if error %}
								<div>
									<p style="color:red;line-height:0.6;"> {{error}} </p>
								</div>
								{% endif %}

								<hr>
								<div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit" value="Continue"></div>
							</fieldset>
						</form>					
					</div>				
				</div>
			</section>

			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="/">Homepage</a></li>  
							{% if 'user' in session %}
							<li><a href="/cart/{{ session['user'] }}">Your Cart</a></li>
							<li><a href="/sell">Sell</a></li>
							<li><a href="/logout">Logout</a></li>
							{% else %}
							<li><a href="/login">Login</a></li>
							{% endif %}
						</ul>
					</div>
					<div class="span4">
						<h4>My Account</h4>
					</div>
					<div class="span5">
						<p class="logo"><img src="{{url_for('static',filename='themes/images/Volusion-Master-Logo.png')}}" class="site_logo" alt=""></p>
						<p>A simple minimalistic shopping webapp made by the combined efforts of<br> <strong>Tanuj Garg</strong> <br><strong>Mayank Musaddi</strong></p>
						<br/>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2018 All right reserved.</span>
			</section>
		</div>
		<script src="{{url_for('static',filename='themes/js/common.js')}}"></script>
		<script>
			$(document).ready(function() {
				$('#checkout').click(function (e) {
					document.location.href = "checkout.html";
				})
			});
		</script>		
    </body>
</html>
