<!doctype html>
<html>

<h2 style = "text-align: center;">{{ message }}</h2>
<body link="blue">

<fieldset>
<legend>User Details</legend>
	<table border = 1 cellspacing=5 width=50% height=50px bgcolor="#ffff9f">
	<tr>
		<th>ID</td>
		<th>Username</th>
		<th>Name</td>
		<th>Email</td>
		<th>Phone</td>
		<th>Password</td>
	</tr>

	{% for row in rows if row["id"] %}
	<tr>
		<td>{{row["id"]}}</td>
		<td>{{row["username"]}}</td>
		<td>{{row["name"]}}</td>
		<td>{{row["email"]}}</td>
		<td>{{row["mobile"]}}</td>
		<td>{{row["password"]}}</td>
	</tr>
	{% else %}
	<h1> No user found! :( </h1>
	{% endfor %}
	</table>
</fieldset>

<br><a href = "/">Go back to home page</a>
</body>

</html>